.SignUp{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(circle, black, white);
    display: flex;
    justify-content: center;
}

.Card{
    box-shadow: -10px 10px 10px 10px rgb(107, 107, 107);
    width: 100%;
    max-width: 700px;
    height: 25rem;
    margin-top: 10rem;
}

h2{
    font-family:'Rosarivo', serif;
}

.Labels{
    font-size: 16px;
    font-weight: bold;
}

.text-muted{
    font-style: italic;
}

.Message{
    font-size: 20px;
}