.InfoInput{
    padding: 8px 20px;
    margin: 8px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    font-style: italic;
  }
.Label{
    font-size: large;
    font-weight: 500;
    font-style: oblique;
    
}
.Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Iconi{
    background-color: #2d2d2d;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    margin-top: 6px;
    border-radius: 5px;
 }

 .Iconi:hover{
    background-color: #ccc;
    color: black;
 }
 .del:hover{
     background-color: #d11a2a;
     color: white
 }
 .edit:hover{
    background-color: #179650;
    color: white
 }
 .Iconi:disabled{
    background-color: #ccc;
    cursor:not-allowed ;
    color: white;
 }
 .InfoInput:disabled{
    background-color: #dddd;
    border: .5px;
 }
@media(max-width:768px){
    .InfoInput{
        margin: 8px 3px;
        font-size: 12px;
    }
    .Iconi{
        margin-top: 8px;
        font-size: 12px;
    }
    .Label{
        font-size: 12px;
        margin: 0;
    }
}