.Profile{
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.PCard{
    width: 100%;
    max-width: 700px;
    margin: 5rem auto;
}

h2{
    font-family:'Rosarivo', serif;
}

.Labels{
    font-size: 16px;
    font-weight: bold;
}

.text-muted{
    font-style: italic;
}

.Message{
    font-size: 20px;
}

.Plogo{
    padding:1rem 0;
    width: 15rem;
    height: 15rem;
    display: block;
    margin: auto;
}

