.Qr{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: -25%;
    left:50%;
    top: 18%;
    height: 32rem;
    width: 40rem;
    background-color: rgb(255, 255, 255);
    padding: 32px 16px;
    box-sizing: border-box;
    z-index: 300;
}

.CloseIcon{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.QRImg{
    display: block;
    width: 25rem;
    margin: auto;
}
.Message{
    display: block;
    text-align: center;
}
.Print{
    margin: auto;
    padding: .3rem 2rem;
    border-radius: 1rem;
}
.Print:hover{
    background-color: #2d2d2d;
    color: white;
}
@media(max-width:768px){
    .Qr{
        height: 30rem;
        width: 30rem;
        margin-left: -15rem;
    }
    .QRImg{
        width: 20rem;
    }
}

@media print {
    .Message{
        font-family:georgia, times, serif;
        font-size: 45px;
    }
    .QRImg{
        width: 500px;
    }
 }