.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2d2d2d;
    transition: transform 0.3s ease-out;
    z-index: 200;
}
.Inside{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    box-sizing: border-box;
    position: relative;
}
.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

@media(min-width:768px){
    .SideDrawer{
        display: none;
    }
}

@media(max-width:255px){
    .Inside{
        margin-left: -40px;
        font-size: small;
    }
}