.SideDrawer{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2d2d2d;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    z-index: 200;
}
.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

@media(min-width:768px){
    .SideDrawer{
        display: none;
    }
}