.Navigation{
    display: flex;
    width: 100%;
    height: 3.3rem;
    background-color:#2d2d2d;
    justify-content: space-between;
    padding-left: 3rem;
}
@media(max-width:768px){
    .NavItems{
        display: none;
    }
    .Notification{
        display: block;
    }
}

@media(min-width:768px){
    .Notification{
        display: none;
    }
}