.NavigationItem{
    margin:.7rem 1rem;
    list-style-type: none;
    color: #fff;
}

.ToolTip{
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    /* padding: 5px 5px; */
    /* Position the tooltip */
     position: absolute;
     top: 4.1%;
     z-index: 1;
     transition-delay: .8s;
}

.NavigationItem:hover .ToolTip{
    visibility: visible;
}

.NavigationItem a{
    color: white;
    text-decoration: dashed;
    height: 100%;
    padding: 16px 5px;
    border-bottom: 4px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: #6d6d6d;
    border-bottom:4px solid  #000000;
    text-decoration: none;
    color: #fff;
}

@media(max-width:768px){
    .NavigationItem a {
        padding: 5px 5px;
        width: fit-content;
    }
    .ToolTip{
        visibility: hidden;
    }
}