.SettingNav{
    display: flex;
    width: 100%;
    height: 3.3rem;
    background-color:#9d9d9d;
    justify-content: flex-start;
    padding-left: 3rem;
}
.Nav2 a{
    color: #000;
    padding: 12px 5px;
    font-size: 18px;
}

.Nav2 a:hover,
.Nav2 a:active,
.Nav2 a.active{
    background-color: #2d2d2d;
    border-bottom:4px solid  #fff;
    text-decoration: none;
    color: #fff;
}

@media(max-width:768px){
    .Nav2 a{
        font-size: 14px;
        padding: 1rem 5px;
    }
}