.CustomButton{
    background-color: #1b1b1b;
    color: #fff;
    padding: .3rem .7rem;
    border-radius: 8px;
}

.CustomButton:hover{
    background-color: #4d4d4d;
}

@media(max-width:768px){
    .CustomButton{
        width: 100px;
        font-size: 12px;
        border-radius: 5px;
        padding: .5rem .7rem;
    }
}