.Group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Logo{
    height: 3.3rem;
    margin: 0 1rem;
}
@media(max-width:992px){
    .Group{
        font-size: 12px;
    }
}

@media(max-width:768px){
    .Group{
        font-size: 14px;
        flex-direction: column;
        justify-content: space-between;
    }

    .Logo{
        width: 4rem;
    }
}
